{% extends 'base.html.twig' %}



{% block body %}
    <div class="breadcrumb-section breadcrumb-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <div class="breadcrumb-text">
                        <p>Fresh and Organic</p>
                        <h1>Shop</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- product section -->
    <div class="product-section mt-150 mb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <div class="section-title">
                        <h3><span class="orange-text">Our</span> Products</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, fuga quas itaque eveniet beatae optio.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-6">
                    {% include 'produit/_filter.html.twig' with {form: form} only %}
                </div>
                {% for produit in produits %}
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="single-product-item">
                            <div class="product-image">
                                <a href="single-product.html"><img src="{{ asset('img/products/'~produit.image~'') }}" alt=""></a>
                            </div>
                            <h3>{{ produit.name }}</h3>
                            <p class="product-price"><span>Per Kg</span> {{ produit.price }} </p>
                            <a href="{{ path('panier_add',{'id':produit.id}) }}" class="cart-btn"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                        </div>
                    </div>
                {% endfor %}
                <div class="pagination">
                    {{ knp_pagination_render(produits) }}
                </div>
            </div>

        </div>
    </div>
    <!-- end product section -->
{% endblock %}